In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

### TO-DO
- impute nan values for congestion_surcharge -> what method?
- need to identify overall data shape. how to plot data distribution?
- imputation on nan values for year 2020 data

## Preprocessing Stage

In [81]:
# load data for January 2020
jan_2020 = pd.read_csv("../raw_data/yellow_tripdata_2020-01.csv")
jan_2020.to_pickle('../raw_data/yellow_tripdata_2020-01.pkl')
jan_2020 = pd.read_pickle('../raw_data/yellow_tripdata_2020-01.pkl')
jan_2020

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.20,1.0,N,238,239,1.0,6.00,3.00,0.5,1.47,0.00,0.3,11.27,2.5
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.20,1.0,N,239,238,1.0,7.00,3.00,0.5,1.50,0.00,0.3,12.30,2.5
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.60,1.0,N,238,238,1.0,6.00,3.00,0.5,1.00,0.00,0.3,10.80,2.5
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.80,1.0,N,238,151,1.0,5.50,0.50,0.5,1.36,0.00,0.3,8.16,0.0
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.00,1.0,N,193,193,2.0,3.50,0.50,0.5,0.00,0.00,0.3,4.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6405003,NaN,2020-01-31 22:51:00,2020-01-31 23:22:00,NaN,3.24,NaN,NaN,237,234,NaN,17.59,2.75,0.5,0.00,0.00,0.3,21.14,0.0
6405004,NaN,2020-01-31 22:10:00,2020-01-31 23:26:00,NaN,22.13,NaN,NaN,259,45,NaN,46.67,2.75,0.5,0.00,12.24,0.3,62.46,0.0
6405005,NaN,2020-01-31 22:50:07,2020-01-31 23:17:57,NaN,10.51,NaN,NaN,137,169,NaN,48.85,2.75,0.0,0.00,0.00,0.3,51.90,0.0
6405006,NaN,2020-01-31 22:25:53,2020-01-31 22:48:32,NaN,5.49,NaN,NaN,50,42,NaN,27.17,2.75,0.0,0.00,0.00,0.3,30.22,0.0
6405007,NaN,2020-01-31 22:44:00,2020-01-31 23:06:00,NaN,11.60,NaN,NaN,179,205,NaN,54.56,2.75,0.5,0.00,0.00,0.3,58.11,0.0

In [96]:
# load data for February 2020
feb_2020 = pd.read_csv("../raw_data/yellow_tripdata_2020-02.csv")
feb_2020.to_pickle('../raw_data/yellow_tripdata_2020-02.pkl')
feb_2020 = pd.read_pickle('../raw_data/yellow_tripdata_2020-02.pkl')
feb_2020

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-02-01 00:17:35,2020-02-01 00:30:32,1.0,2.60,1.0,N,145,7,1.0,11.00,0.50,0.5,2.45,0.0,0.3,14.75,0.0
1,1.0,2020-02-01 00:32:47,2020-02-01 01:05:36,1.0,4.80,1.0,N,45,61,1.0,21.50,3.00,0.5,6.30,0.0,0.3,31.60,2.5
2,1.0,2020-02-01 00:31:44,2020-02-01 00:43:28,1.0,3.20,1.0,N,186,140,1.0,11.00,3.00,0.5,1.00,0.0,0.3,15.80,2.5
3,2.0,2020-02-01 00:07:35,2020-02-01 00:31:39,1.0,4.38,1.0,N,144,140,1.0,18.00,0.50,0.5,3.00,0.0,0.3,24.80,2.5
4,2.0,2020-02-01 00:51:43,2020-02-01 01:01:29,1.0,2.28,1.0,N,238,152,2.0,9.50,0.50,0.5,0.00,0.0,0.3,10.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6299349,NaN,2020-02-28 14:28:00,2020-02-28 14:54:00,NaN,8.60,NaN,NaN,259,247,NaN,30.81,2.75,0.5,0.00,0.0,0.3,34.36,0.0
6299350,NaN,2020-02-28 14:03:00,2020-02-28 14:11:00,NaN,3.01,NaN,NaN,212,31,NaN,22.59,2.75,0.5,0.00,0.0,0.3,26.14,0.0
6299351,NaN,2020-02-28 14:55:00,2020-02-28 15:02:00,NaN,0.71,NaN,NaN,42,42,NaN,13.43,2.75,0.5,0.00,0.0,0.3,16.98,0.0
6299352,NaN,2020-02-28 14:29:00,2020-02-28 14:51:00,NaN,12.40,NaN,NaN,38,53,NaN,30.54,2.75,0.5,0.00,0.0,0.3,34.09,0.0
6299353,NaN,2020-02-28 14:06:00,2020-02-28 14:38:00,NaN,6.96,NaN,NaN,226,135,NaN,30.30,2.75,0.5,0.00,0.0,0.3,33.85,0.0

In [97]:
# load data for March 2020
mar_2020 = pd.read_csv("../raw_data/yellow_tripdata_2020-03.csv")
mar_2020.to_pickle('../raw_data/yellow_tripdata_2020-03.pkl')
mar_2020 = pd.read_pickle('../raw_data/yellow_tripdata_2020-03.pkl')
mar_2020

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-03-01 00:31:13,2020-03-01 01:01:42,1.0,4.70,1.0,N,88,255,1.0,22.00,3.0,0.5,2.00,0.0,0.3,27.80,2.5
1,2.0,2020-03-01 00:08:22,2020-03-01 00:08:49,1.0,0.00,1.0,N,193,193,2.0,2.50,0.5,0.5,0.00,0.0,0.3,3.80,0.0
2,1.0,2020-03-01 00:52:18,2020-03-01 00:59:16,1.0,1.10,1.0,N,246,90,1.0,6.00,3.0,0.5,1.95,0.0,0.3,11.75,2.5
3,2.0,2020-03-01 00:47:53,2020-03-01 00:50:57,2.0,0.87,1.0,N,151,238,1.0,5.00,0.5,0.5,1.76,0.0,0.3,10.56,2.5
4,1.0,2020-03-01 00:43:19,2020-03-01 00:58:27,0.0,4.40,1.0,N,79,261,1.0,16.50,3.0,0.5,4.05,0.0,0.3,24.35,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3007287,NaN,2020-03-31 23:21:00,2020-03-31 23:33:00,NaN,5.43,NaN,NaN,137,87,NaN,30.47,0.0,0.5,0.00,0.0,0.3,33.77,2.5
3007288,NaN,2020-03-31 23:57:00,2020-04-01 00:26:00,NaN,13.21,NaN,NaN,137,71,NaN,37.97,0.0,0.5,0.00,0.0,0.3,41.27,2.5
3007289,NaN,2020-03-31 23:22:01,2020-03-31 23:43:52,NaN,12.14,NaN,NaN,137,32,NaN,37.10,0.0,0.0,0.00,0.0,0.3,39.90,2.5
3007290,NaN,2020-03-31 23:18:53,2020-03-31 23:32:21,NaN,7.01,NaN,NaN,137,159,NaN,20.07,0.0,0.0,0.00,0.0,0.3,22.87,2.5
3007291,NaN,2020-03-31 23:11:00,2020-03-31 23:30:00,NaN,6.31,NaN,NaN,185,69,NaN,23.40,0.0,0.5,0.00,0.0,0.3,24.20,0.0

In [61]:
# load data from January 2019

jan = pd.read_csv("../raw_data/yellow_tripdata_2019-01.csv")
jan.to_pickle('../raw_data/yellow_tripdata_2019-01.pkl')
jan = pd.read_pickle('../raw_data/yellow_tripdata_2019-01.pkl')

In [62]:
# load data from February 2019

feb = pd.read_csv("../raw_data/yellow_tripdata_2019-02.csv")
feb.to_pickle('../raw_data/yellow_tripdata_2019-02.pkl')
feb = pd.read_pickle('../raw_data/yellow_tripdata_2019-02.pkl')

In [63]:
# load data from March 2019

mar = pd.read_csv("../raw_data/yellow_tripdata_2019-03.csv")
mar.to_pickle('../raw_data/yellow_tripdata_2019-03.pkl')
mar = pd.read_pickle('../raw_data/yellow_tripdata_2019-03.pkl')

### 1. tpep_pickup_datetime & tpep_dropoff_datetime (jan - mar)

In [65]:
# it seems that the timeline for January include time from other months. we are going to include only data from January.

# convert data to datetime type
jan["tpep_pickup_datetime"] = pd.to_datetime(jan['tpep_pickup_datetime'], format="%Y-%m-%d %H:%M:%S")
jan["tpep_dropoff_datetime"] = pd.to_datetime(jan['tpep_dropoff_datetime'], format="%Y-%m-%d %H:%M:%S")

jan = jan.loc[(jan["tpep_pickup_datetime"] > "2018-12-31 23:59:59") & (jan["tpep_dropoff_datetime"] > "2018-12-31 23:59:59")]
jan = jan.loc[(jan["tpep_pickup_datetime"] <= "2019-01-31 23:59:59") & (jan["tpep_dropoff_datetime"] <= "2019-01-31 23:59:59")]

In [66]:
# it seems that the timeline for February include time from other months. we are going to include only data from February.

# convert data to datetime type
feb["tpep_pickup_datetime"] = pd.to_datetime(feb['tpep_pickup_datetime'], format="%Y-%m-%d %H:%M:%S")
feb["tpep_dropoff_datetime"] = pd.to_datetime(feb['tpep_dropoff_datetime'], format="%Y-%m-%d %H:%M:%S")

feb = feb.loc[(feb["tpep_pickup_datetime"] > "2019-01-31 23:59:59") & (feb["tpep_dropoff_datetime"] > "2019-01-31 23:59:59")]
feb = feb.loc[(feb["tpep_pickup_datetime"] <= "2019-02-28 23:59:59") & (feb["tpep_dropoff_datetime"] <= "2019-02-28 23:59:59")]

In [67]:
# it seems that the timeline for March include time from other months. we are going to include only data from March.

# convert data to datetime type
mar["tpep_pickup_datetime"] = pd.to_datetime(mar['tpep_pickup_datetime'], format="%Y-%m-%d %H:%M:%S")
mar["tpep_dropoff_datetime"] = pd.to_datetime(mar['tpep_dropoff_datetime'], format="%Y-%m-%d %H:%M:%S")

# february is until 28 on 2019
mar = mar.loc[(mar["tpep_pickup_datetime"] > "2018-02-28 23:59:59") & (mar["tpep_dropoff_datetime"] > "2018-02-28 23:59:59")]
mar = mar.loc[(mar["tpep_pickup_datetime"] <= "2019-03-31 23:59:59") & (mar["tpep_dropoff_datetime"] <= "2019-03-31 23:59:59")]

In [84]:
# it seems that the timeline for January include time from other months. we are going to include only data from January.

# convert data to datetime type
jan_2020["tpep_pickup_datetime"] = pd.to_datetime(jan_2020['tpep_pickup_datetime'], format="%Y-%m-%d %H:%M:%S")
jan_2020["tpep_dropoff_datetime"] = pd.to_datetime(jan_2020['tpep_dropoff_datetime'], format="%Y-%m-%d %H:%M:%S")

jan_2020 = jan_2020.loc[(jan_2020["tpep_pickup_datetime"] > "2019-12-31 23:59:59") & (jan_2020["tpep_dropoff_datetime"] > "2019-12-31 23:59:59")]
jan_2020 = jan_2020.loc[(jan_2020["tpep_pickup_datetime"] <= "2020-01-31 23:59:59") & (jan_2020["tpep_dropoff_datetime"] <= "2020-01-31 23:59:59")]

In [99]:
# it seems that the timeline for February include time from other months. we are going to include only data from February.

# convert data to datetime type
feb_2020["tpep_pickup_datetime"] = pd.to_datetime(feb_2020['tpep_pickup_datetime'], format="%Y-%m-%d %H:%M:%S")
feb_2020["tpep_dropoff_datetime"] = pd.to_datetime(feb_2020['tpep_dropoff_datetime'], format="%Y-%m-%d %H:%M:%S")

feb_2020 = feb_2020.loc[(feb_2020["tpep_pickup_datetime"] > "2020-01-31 23:59:59") & (feb_2020["tpep_dropoff_datetime"] > "2020-01-31 23:59:59")]
feb_2020 = feb_2020.loc[(feb_2020["tpep_pickup_datetime"] <= "2020-02-28 23:59:59") & (feb_2020["tpep_dropoff_datetime"] <= "2020-02-28 23:59:59")]
feb_2020

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-02-01 00:17:35,2020-02-01 00:30:32,1.0,2.60,1.0,N,145,7,1.0,11.00,0.50,0.5,2.45,0.0,0.3,14.75,0.0
1,1.0,2020-02-01 00:32:47,2020-02-01 01:05:36,1.0,4.80,1.0,N,45,61,1.0,21.50,3.00,0.5,6.30,0.0,0.3,31.60,2.5
2,1.0,2020-02-01 00:31:44,2020-02-01 00:43:28,1.0,3.20,1.0,N,186,140,1.0,11.00,3.00,0.5,1.00,0.0,0.3,15.80,2.5
3,2.0,2020-02-01 00:07:35,2020-02-01 00:31:39,1.0,4.38,1.0,N,144,140,1.0,18.00,0.50,0.5,3.00,0.0,0.3,24.80,2.5
4,2.0,2020-02-01 00:51:43,2020-02-01 01:01:29,1.0,2.28,1.0,N,238,152,2.0,9.50,0.50,0.5,0.00,0.0,0.3,10.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6299349,NaN,2020-02-28 14:28:00,2020-02-28 14:54:00,NaN,8.60,NaN,NaN,259,247,NaN,30.81,2.75,0.5,0.00,0.0,0.3,34.36,0.0
6299350,NaN,2020-02-28 14:03:00,2020-02-28 14:11:00,NaN,3.01,NaN,NaN,212,31,NaN,22.59,2.75,0.5,0.00,0.0,0.3,26.14,0.0
6299351,NaN,2020-02-28 14:55:00,2020-02-28 15:02:00,NaN,0.71,NaN,NaN,42,42,NaN,13.43,2.75,0.5,0.00,0.0,0.3,16.98,0.0
6299352,NaN,2020-02-28 14:29:00,2020-02-28 14:51:00,NaN,12.40,NaN,NaN,38,53,NaN,30.54,2.75,0.5,0.00,0.0,0.3,34.09,0.0
6299353,NaN,2020-02-28 14:06:00,2020-02-28 14:38:00,NaN,6.96,NaN,NaN,226,135,NaN,30.30,2.75,0.5,0.00,0.0,0.3,33.85,0.0

In [100]:
# it seems that the timeline for March include time from other months. we are going to include only data from March.

# convert data to datetime type
mar_2020["tpep_pickup_datetime"] = pd.to_datetime(mar_2020['tpep_pickup_datetime'], format="%Y-%m-%d %H:%M:%S")
mar_2020["tpep_dropoff_datetime"] = pd.to_datetime(mar_2020['tpep_dropoff_datetime'], format="%Y-%m-%d %H:%M:%S")

# february is until 28 on 2019
mar_2020 = mar_2020.loc[(mar_2020["tpep_pickup_datetime"] > "2020-02-28 23:59:59") & (mar_2020["tpep_dropoff_datetime"] > "2020-02-28 23:59:59")]
mar_2020 = mar_2020.loc[(mar_2020["tpep_pickup_datetime"] <= "2020-03-31 23:59:59") & (mar_2020["tpep_dropoff_datetime"] <= "2020-03-31 23:59:59")]
mar_2020

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-03-01 00:31:13,2020-03-01 01:01:42,1.0,4.70,1.0,N,88,255,1.0,22.00,3.0,0.5,2.00,0.0,0.3,27.80,2.5
1,2.0,2020-03-01 00:08:22,2020-03-01 00:08:49,1.0,0.00,1.0,N,193,193,2.0,2.50,0.5,0.5,0.00,0.0,0.3,3.80,0.0
2,1.0,2020-03-01 00:52:18,2020-03-01 00:59:16,1.0,1.10,1.0,N,246,90,1.0,6.00,3.0,0.5,1.95,0.0,0.3,11.75,2.5
3,2.0,2020-03-01 00:47:53,2020-03-01 00:50:57,2.0,0.87,1.0,N,151,238,1.0,5.00,0.5,0.5,1.76,0.0,0.3,10.56,2.5
4,1.0,2020-03-01 00:43:19,2020-03-01 00:58:27,0.0,4.40,1.0,N,79,261,1.0,16.50,3.0,0.5,4.05,0.0,0.3,24.35,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3007286,NaN,2020-03-31 23:33:00,2020-03-31 23:53:00,NaN,10.97,NaN,NaN,137,89,NaN,32.06,2.5,0.5,0.00,0.0,0.3,35.36,0.0
3007287,NaN,2020-03-31 23:21:00,2020-03-31 23:33:00,NaN,5.43,NaN,NaN,137,87,NaN,30.47,0.0,0.5,0.00,0.0,0.3,33.77,2.5
3007289,NaN,2020-03-31 23:22:01,2020-03-31 23:43:52,NaN,12.14,NaN,NaN,137,32,NaN,37.10,0.0,0.0,0.00,0.0,0.3,39.90,2.5
3007290,NaN,2020-03-31 23:18:53,2020-03-31 23:32:21,NaN,7.01,NaN,NaN,137,159,NaN,20.07,0.0,0.0,0.00,0.0,0.3,22.87,2.5
3007291,NaN,2020-03-31 23:11:00,2020-03-31 23:30:00,NaN,6.31,NaN,NaN,185,69,NaN,23.40,0.0,0.5,0.00,0.0,0.3,24.20,0.0

In [90]:
# remove pickup and dropoff that has the same time because invalid
jan = jan.loc[jan['tpep_pickup_datetime'] != jan['tpep_dropoff_datetime']]
feb = feb.loc[feb['tpep_pickup_datetime'] != feb['tpep_dropoff_datetime']]
mar = mar.loc[mar['tpep_pickup_datetime'] != mar['tpep_dropoff_datetime']]

jan_2020 = jan_2020.loc[jan_2020['tpep_pickup_datetime'] != jan_2020['tpep_dropoff_datetime']]
feb_2020 = feb_2020.loc[feb_2020['tpep_pickup_datetime'] != feb_2020['tpep_dropoff_datetime']]
mar_2020 = mar_2020.loc[mar_2020['tpep_pickup_datetime'] != mar_2020['tpep_dropoff_datetime']]

In [103]:
# valid pickup and dropoff time is when dropoff time > pickup time
jan = jan.loc[jan['tpep_pickup_datetime'] < jan['tpep_dropoff_datetime']]
feb = feb.loc[feb['tpep_pickup_datetime'] < feb['tpep_dropoff_datetime']]
mar = mar.loc[mar['tpep_pickup_datetime'] < mar['tpep_dropoff_datetime']]

jan_2020 = jan_2020.loc[jan_2020['tpep_pickup_datetime'] < jan_2020['tpep_dropoff_datetime']]
feb_2020 = feb_2020.loc[feb_2020['tpep_pickup_datetime'] < feb_2020['tpep_dropoff_datetime']]
mar_2020 = mar_2020.loc[mar_2020['tpep_pickup_datetime'] < mar_2020['tpep_dropoff_datetime']]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-03-01 00:31:13,2020-03-01 01:01:42,1.0,4.70,1.0,N,88,255,1.0,22.00,3.0,0.5,2.00,0.0,0.3,27.80,2.5
1,2.0,2020-03-01 00:08:22,2020-03-01 00:08:49,1.0,0.00,1.0,N,193,193,2.0,2.50,0.5,0.5,0.00,0.0,0.3,3.80,0.0
2,1.0,2020-03-01 00:52:18,2020-03-01 00:59:16,1.0,1.10,1.0,N,246,90,1.0,6.00,3.0,0.5,1.95,0.0,0.3,11.75,2.5
3,2.0,2020-03-01 00:47:53,2020-03-01 00:50:57,2.0,0.87,1.0,N,151,238,1.0,5.00,0.5,0.5,1.76,0.0,0.3,10.56,2.5
4,1.0,2020-03-01 00:43:19,2020-03-01 00:58:27,0.0,4.40,1.0,N,79,261,1.0,16.50,3.0,0.5,4.05,0.0,0.3,24.35,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3007286,NaN,2020-03-31 23:33:00,2020-03-31 23:53:00,NaN,10.97,NaN,NaN,137,89,NaN,32.06,2.5,0.5,0.00,0.0,0.3,35.36,0.0
3007287,NaN,2020-03-31 23:21:00,2020-03-31 23:33:00,NaN,5.43,NaN,NaN,137,87,NaN,30.47,0.0,0.5,0.00,0.0,0.3,33.77,2.5
3007289,NaN,2020-03-31 23:22:01,2020-03-31 23:43:52,NaN,12.14,NaN,NaN,137,32,NaN,37.10,0.0,0.0,0.00,0.0,0.3,39.90,2.5
3007290,NaN,2020-03-31 23:18:53,2020-03-31 23:32:21,NaN,7.01,NaN,NaN,137,159,NaN,20.07,0.0,0.0,0.00,0.0,0.3,22.87,2.5
3007291,NaN,2020-03-31 23:11:00,2020-03-31 23:30:00,NaN,6.31,NaN,NaN,185,69,NaN,23.40,0.0,0.5,0.00,0.0,0.3,24.20,0.0

### describe data

In [76]:
# check data
jan.describe()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
count,7.658049e+06,7.658049e+06,7.658049e+06,7.658049e+06,7.658049e+06,7.658049e+06,7.658049e+06,7.658049e+06,7.658049e+06,7.658049e+06,7.658049e+06,7.658049e+06,7.658049e+06,7.658049e+06,2.806489e+06
mean,1.637085e+00,1.567290e+00,2.802214e+00,1.056906e+00,1.654873e+02,1.636810e+02,1.291251e+00,1.230730e+01,3.279176e-01,4.968841e-01,1.828149e+00,3.168061e-01,2.993573e-01,1.558072e+01,3.295933e-05
std,5.398010e-01,1.224610e+00,3.737041e+00,5.834138e-01,6.638543e+01,7.033382e+01,4.730927e-01,2.255287e+02,4.691478e-01,5.320470e-02,2.500494e+00,2.023931e+00,1.896675e-02,2.256764e+02,9.077294e-03
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-3.620000e+02,-6.000000e+01,-5.000000e-01,-6.350000e+01,-7.000000e+01,-3.000000e-01,-3.628000e+02,0.000000e+00
25%,1.000000e+00,1.000000e+00,9.000000e-01,1.000000e+00,1.300000e+02,1.130000e+02,1.000000e+00,6.000000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,8.190000e+00,0.000000e+00
50%,2.000000e+00,1.000000e+00,1.530000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,8.500000e+00,0.000000e+00,5.000000e-01,1.440000e+00,0.000000e+00,3.000000e-01,1.127000e+01,0.000000e+00
75%,2.000000e+00,2.000000e+00,2.800000e+00,1.000000e+00,2.340000e+02,2.340000e+02,2.000000e+00,1.350000e+01,5.000000e-01,5.000000e-01,2.340000e+00,0.000000e+00,3.000000e-01,1.656000e+01,0.000000e+00
max,4.000000e+00,9.000000e+00,8.318000e+02,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,6.232599e+05,1.850000e+01,6.080000e+01,7.872500e+02,3.288000e+03,6.000000e-01,6.232617e+05,2.500000e+00

In [77]:
feb.describe()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
count,7.009333e+06,7.009333e+06,7.009333e+06,7.009333e+06,7.009333e+06,7.009333e+06,7.009333e+06,7.009333e+06,7.009333e+06,7.009333e+06,7.009333e+06,7.009333e+06,7.009333e+06,7.009333e+06,7.009333e+06
mean,1.636957e+00,1.571556e+00,2.885962e+00,1.059706e+00,1.634966e+02,1.617253e+02,1.269338e+00,1.272693e+01,1.157538e+00,4.960039e-01,2.164309e+00,3.415712e-01,2.991024e-01,1.853878e+01,2.175390e+00
std,5.248252e-01,1.228297e+00,3.778944e+00,5.382007e-01,6.593762e+01,7.004224e+01,4.663257e-01,2.537431e+02,1.268722e+00,5.214483e-02,2.633985e+00,1.672135e+00,2.263714e-02,2.538725e+02,8.455776e-01
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-4.000000e+02,-4.500000e+00,-5.000000e-01,-6.200000e+01,-2.626000e+01,-3.000000e-01,-4.008000e+02,-2.500000e+00
25%,1.000000e+00,1.000000e+00,9.400000e-01,1.000000e+00,1.140000e+02,1.120000e+02,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,1.100000e+01,2.500000e+00
50%,2.000000e+00,1.000000e+00,1.600000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,9.000000e+00,5.000000e-01,5.000000e-01,1.860000e+00,0.000000e+00,3.000000e-01,1.416000e+01,2.500000e+00
75%,2.000000e+00,2.000000e+00,2.910000e+00,1.000000e+00,2.330000e+02,2.340000e+02,2.000000e+00,1.400000e+01,2.500000e+00,5.000000e-01,2.860000e+00,0.000000e+00,3.000000e-01,1.980000e+01,2.500000e+00
max,4.000000e+00,9.000000e+00,7.015000e+02,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,6.711231e+05,1.850000e+01,2.439000e+01,4.996900e+02,7.715200e+02,1.000000e+00,6.711249e+05,2.750000e+00

In [78]:
mar.describe()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
count,7.824816e+06,7.824816e+06,7.824816e+06,7.824816e+06,7.824816e+06,7.824816e+06,7.824816e+06,7.824816e+06,7.824816e+06,7.824816e+06,7.824816e+06,7.824816e+06,7.824816e+06,7.824816e+06,7.824816e+06
mean,1.636654e+00,1.575455e+00,2.992284e+00,1.065397e+00,1.619872e+02,1.602029e+02,1.277776e+00,1.315574e+01,1.202790e+00,4.955916e-01,2.232893e+00,3.647454e-01,2.990073e-01,1.916932e+01,2.281792e+00
std,5.132996e-01,1.228597e+00,3.889361e+00,6.096753e-01,6.587195e+01,7.020442e+01,4.710194e-01,3.429628e+02,1.284010e+00,6.298415e-02,5.065581e+01,1.676402e+00,2.382005e-02,3.928938e+02,7.136208e-01
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-4.470000e+02,-5.750000e+01,-5.000000e-01,-8.989000e+01,-2.500000e+01,-3.000000e-01,-4.503000e+02,-2.500000e+00
25%,1.000000e+00,1.000000e+00,9.800000e-01,1.000000e+00,1.140000e+02,1.070000e+02,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,1.116000e+01,2.500000e+00
50%,2.000000e+00,1.000000e+00,1.610000e+00,1.000000e+00,1.610000e+02,1.620000e+02,1.000000e+00,9.500000e+00,5.000000e-01,5.000000e-01,1.950000e+00,0.000000e+00,3.000000e-01,1.475000e+01,2.500000e+00
75%,2.000000e+00,2.000000e+00,3.050000e+00,1.000000e+00,2.310000e+02,2.330000e+02,2.000000e+00,1.450000e+01,2.500000e+00,5.000000e-01,2.950000e+00,0.000000e+00,3.000000e-01,2.030000e+01,2.500000e+00
max,4.000000e+00,9.000000e+00,2.371700e+02,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,9.432748e+05,2.466000e+01,6.080000e+01,1.414920e+05,8.057600e+02,1.000000e+00,1.084772e+06,4.500000e+00

In [95]:
jan_2020.describe()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
count,6.332538e+06,6.332538e+06,6.397696e+06,6.332538e+06,6.397696e+06,6.397696e+06,6.332538e+06,6.397696e+06,6.397696e+06,6.397696e+06,6.397696e+06,6.397696e+06,6.397696e+06,6.397696e+06,6.397696e+06
mean,1.669963e+00,1.515498e+00,2.930914e+00,1.058271e+00,1.647343e+02,1.626037e+02,1.269876e+00,1.268936e+01,1.114922e+00,4.923739e-01,2.190192e+00,3.487778e-01,2.980190e-01,1.865971e+01,2.276239e+00
std,4.702262e-01,1.151749e+00,8.320652e+01,7.278142e-01,6.553850e+01,6.988465e+01,4.737560e-01,1.210941e+01,1.259842e+00,7.349274e-02,2.759611e+00,1.766649e+00,3.371877e-02,1.474261e+01,7.344748e-01
min,1.000000e+00,0.000000e+00,-3.062000e+01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-1.238000e+03,-2.700000e+01,-5.000000e-01,-9.100000e+01,-3.574000e+01,-3.000000e-01,-1.242300e+03,-2.500000e+00
25%,1.000000e+00,1.000000e+00,9.600000e-01,1.000000e+00,1.320000e+02,1.130000e+02,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,1.116000e+01,2.500000e+00
50%,2.000000e+00,1.000000e+00,1.600000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,9.000000e+00,5.000000e-01,5.000000e-01,1.950000e+00,0.000000e+00,3.000000e-01,1.430000e+01,2.500000e+00
75%,2.000000e+00,2.000000e+00,2.930000e+00,1.000000e+00,2.340000e+02,2.340000e+02,2.000000e+00,1.400000e+01,2.500000e+00,5.000000e-01,2.860000e+00,0.000000e+00,3.000000e-01,1.980000e+01,2.500000e+00
max,2.000000e+00,9.000000e+00,2.102401e+05,9.900000e+01,2.650000e+02,2.650000e+02,5.000000e+00,4.265000e+03,1.130100e+02,3.080000e+01,1.100000e+03,9.105000e+02,3.000000e-01,4.268300e+03,2.750000e+00

In [104]:
feb_2020.describe()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
count,6.014296e+06,6.014296e+06,6.061848e+06,6.014296e+06,6.061848e+06,6.061848e+06,6.014296e+06,6.061848e+06,6.061848e+06,6.061848e+06,6.061848e+06,6.061848e+06,6.061848e+06,6.061848e+06,6.061848e+06
mean,1.670927e+00,1.501996e+00,2.873333e+00,1.054652e+00,1.647015e+02,1.625803e+02,1.256952e+00,1.263371e+01,1.114730e+00,4.927975e-01,2.229590e+00,3.313695e-01,2.979531e-01,1.863656e+01,2.289975e+00
std,4.698764e-01,1.143824e+00,4.105070e+01,6.984217e-01,6.545309e+01,6.968136e+01,4.675136e-01,1.192117e+01,1.257350e+00,7.356462e-02,2.672783e+00,1.686432e+00,3.431572e-02,1.449911e+01,7.159227e-01
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-7.500000e+02,-1.769000e+01,-5.000000e-01,-9.300000e+01,-3.823000e+01,-3.000000e-01,-7.503000e+02,-2.500000e+00
25%,1.000000e+00,1.000000e+00,9.600000e-01,1.000000e+00,1.300000e+02,1.130000e+02,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,1.130000e+01,2.500000e+00
50%,2.000000e+00,1.000000e+00,1.600000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,9.000000e+00,5.000000e-01,5.000000e-01,1.960000e+00,0.000000e+00,3.000000e-01,1.469000e+01,2.500000e+00
75%,2.000000e+00,2.000000e+00,2.900000e+00,1.000000e+00,2.330000e+02,2.340000e+02,1.000000e+00,1.400000e+01,2.500000e+00,5.000000e-01,2.950000e+00,0.000000e+00,3.000000e-01,2.015000e+01,2.500000e+00
max,2.000000e+00,9.000000e+00,5.705109e+04,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,6.052000e+03,9.006000e+01,3.951000e+01,5.490200e+02,9.255000e+02,3.000000e-01,6.061420e+03,2.750000e+00

In [105]:
mar_2020.describe()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
count,2.967675e+06,2.967675e+06,3.005078e+06,2.967675e+06,3.005078e+06,3.005078e+06,2.967675e+06,3.005078e+06,3.005078e+06,3.005078e+06,3.005078e+06,3.005078e+06,3.005078e+06,3.005078e+06,3.005078e+06
mean,1.667597e+00,1.467682e+00,3.118636e+00,1.050473e+00,1.634134e+02,1.608747e+02,1.267290e+00,1.269495e+01,1.246307e+00,6.582331e-01,2.139913e+00,3.041062e-01,2.976181e-01,1.884126e+01,2.242165e+00
std,4.710748e-01,1.120291e+00,2.070105e+02,6.681033e-01,6.657772e+01,7.071380e+01,4.762478e-01,3.872973e+02,2.884337e+02,2.884311e+02,2.718883e+00,1.607115e+00,3.700122e-02,6.948527e+02,7.834644e-01
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-1.259000e+03,-7.000000e+00,-5.000000e-01,-4.932200e+02,-4.000000e+01,-3.000000e-01,-1.260300e+03,-2.500000e+00
25%,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.140000e+02,1.070000e+02,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,1.116000e+01,2.500000e+00
50%,2.000000e+00,1.000000e+00,1.670000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,9.000000e+00,5.000000e-01,5.000000e-01,1.920000e+00,0.000000e+00,3.000000e-01,1.430000e+01,2.500000e+00
75%,2.000000e+00,1.000000e+00,3.020000e+00,1.000000e+00,2.340000e+02,2.340000e+02,2.000000e+00,1.400000e+01,2.500000e+00,5.000000e-01,2.860000e+00,0.000000e+00,3.000000e-01,1.985000e+01,2.500000e+00
max,2.000000e+00,9.000000e+00,2.698037e+05,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,6.711001e+05,5.000008e+05,5.000005e+05,8.000000e+02,6.010200e+02,3.000000e-01,1.000004e+06,2.500000e+00

### 2. vendorID

In [106]:
# remove VendorID that isn't 1 & 2
jan = jan.loc[(jan["VendorID"] == 1) | (jan["VendorID"] == 2)]
feb = feb.loc[(feb["VendorID"] == 1) | (feb["VendorID"] == 2)]
mar = mar.loc[(mar["VendorID"] == 1) | (mar["VendorID"] == 2)]

jan_2020 = jan_2020.loc[(jan_2020["VendorID"] == 1) | (jan_2020["VendorID"] == 2)]
feb_2020 = feb_2020.loc[(feb_2020["VendorID"] == 1) | (feb_2020["VendorID"] == 2)]
mar_2020 = mar_2020.loc[(mar_2020["VendorID"] == 1) | (mar_2020["VendorID"] == 2)]

### 3. trip_distance

In [108]:
# remove negative trip distance and when trip distance = 0 
jan = jan.loc[jan['trip_distance'] > 0]
feb = feb.loc[feb['trip_distance'] > 0]
mar = mar.loc[mar['trip_distance'] > 0]

jan_2020 = jan_2020.loc[jan_2020['trip_distance'] > 0]
feb_2020 = feb_2020.loc[feb_2020['trip_distance'] > 0]
mar_2020 = mar_2020.loc[mar_2020['trip_distance'] > 0]

### 4. passenger_count

In [109]:
# remove passengers > 6 because maximum is 6 according to
# https://www1.nyc.gov/site/tlc/passengers/passenger-frequently-asked-questions.page
# also counts as outliers
jan['passenger_count'].value_counts()
feb['passenger_count'].value_counts()
mar['passenger_count'].value_counts()

jan_2020['passenger_count'].value_counts()
feb_2020['passenger_count'].value_counts()
mar_2020['passenger_count'].value_counts()


# only include trips with passenger count greater than 0 and less than 7
jan = jan.loc[(jan['passenger_count'] > 0) & (jan['passenger_count'] < 7)]
feb = feb.loc[(feb['passenger_count'] > 0) & (feb['passenger_count'] < 7)]
mar = mar.loc[(mar['passenger_count'] > 0) & (mar['passenger_count'] < 7)]

jan_2020 = jan.loc[(jan['passenger_count'] > 0) & (jan['passenger_count'] < 7)]
feb_2020 = feb.loc[(feb['passenger_count'] > 0) & (feb['passenger_count'] < 7)]
mar_2020 = mar.loc[(mar['passenger_count'] > 0) & (mar['passenger_count'] < 7)]

### 5. payment_type & ratecodeID

In [110]:
# removing outliers
jan['payment_type'].value_counts()
feb['payment_type'].value_counts()
mar['payment_type'].value_counts()

jan_2020['payment_type'].value_counts()
feb_2020['payment_type'].value_counts()
mar_2020['payment_type'].value_counts()
# data seems reasonable

1    5566149
2    1987090
3      31562
4      12331
Name: payment_type, dtype: int64

In [112]:
jan['RatecodeID'].value_counts()
feb['RatecodeID'].value_counts()
mar['RatecodeID'].value_counts()

jan_2020['RatecodeID'].value_counts()
feb_2020['RatecodeID'].value_counts()
mar_2020['RatecodeID'].value_counts()

# 99 RatecodeID is not possible
jan = jan.loc[jan['RatecodeID'] != 99]
feb = feb.loc[feb['RatecodeID'] != 99]
mar = mar.loc[mar['RatecodeID'] != 99]

jan_2020 = jan_2020.loc[jan_2020['RatecodeID'] != 99]
feb_2020 = feb_2020.loc[feb_2020['RatecodeID'] != 99]
mar_2020 = mar_2020.loc[mar_2020['RatecodeID'] != 99]

### 6. fare_amount

In [114]:
# select fare_amount that is greater than 2.5
jan = jan.loc[jan['fare_amount'] > 2.5]
feb = feb.loc[feb['fare_amount'] > 2.5]
mar = mar.loc[mar['fare_amount'] > 2.5]

jan_2020 = jan_2020.loc[jan_2020['fare_amount'] > 2.5]
feb_2020 = feb_2020.loc[feb_2020['fare_amount'] > 2.5]
mar_2020 = mar_2020.loc[mar_2020['fare_amount'] > 2.5]

In [ ]:
### WANT TO IMPUTE NAN WITH WHAT VALUES ?

In [48]:
jan['congestion_surcharge'].isna()

0           True
1           True
7           True
8           True
9           True
           ...
7667780    False
7667781    False
7667783    False
7667784    False
7667786    False
Name: congestion_surcharge, Length: 7417216, dtype: bool

In [49]:
### NEED TO PLOT DATA DISTRIBUTION

## Save Preprocessed Data

In [115]:
jan.to_csv("../preprocessed_data/January.csv")
feb.to_csv("../preprocessed_data/February.csv")
mar.to_csv("../preprocessed_data/March.csv")

jan_2020.to_csv("../preprocessed_data/January_2020.csv")
feb_2020.to_csv("../preprocessed_data/February_2020.csv")
mar_2020.to_csv("../preprocessed_data/March_2020.csv")